<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../css/style.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
                <P>I have used mapbox and weatherstak endpoint to get weather information</P>
            <p>{{message}} </p>

        </div>
        
        {{>footer}}
    </body>
</html>